{% extends 'base.html' %} 


{% block title %}
    User Accounts
{% endblock %}

{% block content %}
<!-- ================= HERO SECTION ================= -->
<section class="bg-blue-600 text-white text-center py-20">
  <h1 class="text-4xl font-bold mb-4">Build Modern Web Applications</h1>
  <p class="mb-6 text-lg">
    Clean design, responsive layout and powerful backend integration. Start
    building your amazing project today.
  </p>
  <div class="space-x-4">
    <a href="{% url 'login' %}" class="bg-white text-blue-600 px-6 py-3 rounded-lg font-semibold hover:bg-green-500 hover:text-green-700 transition duration-300">Get Started</a>
    <a href="{% url 'register' %}"  class="bg-white text-blue-600 px-6 py-3 rounded-lg font-semibold hover:bg-green-500 hover:text-green-700 transition duration-300">Learn More</a>
  </div>
</section>
<!-- ================= FEATURES ================= -->
<section class="py-16">
  <div class="max-w-6xl mx-auto grid md:grid-cols-3 gap-8 px-4">
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-xl font-semibold mb-2">Fast Development</h3>
      <p class="text-gray-600">
        Build projects quickly using modern tools and frameworks.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-xl font-semibold mb-2">Responsive Design</h3>
      <p class="text-gray-600">
        Your website will look perfect on mobile, tablet and desktop.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-xl font-semibold mb-2">Secure System</h3>
      <p class="text-gray-600">
        Authentication, authorization and secure data handling.
      </p>
    </div>
  </div>
</section>

<!-- CALL TO ACTION -->
<section class="bg-gray-800 text-white text-center py-16">

<h2 class="text-3xl font-bold mb-4">
Start Learning Today
</h2>

<p class="mb-6">
Join thousands of learners and upgrade your skills.
</p>

<a href="{% url 'register' %}" class="bg-blue-600 px-6 py-3 rounded-lg hover:bg-blue-700">
Join Now
</a>

</section>


{% endblock %}
