{% extends 'base.html' %}

{% block title %}
User Profile
{% endblock %}

{% block content %}

<section class="bg-gray-100 min-h-screen flex items-center justify-center py-10">

<div class="bg-white shadow-lg rounded-xl w-full max-w-4xl overflow-hidden">

<!-- Cover -->
<div class="bg-gradient-to-r from-blue-600 to-indigo-600 h-40"></div>

<!-- Profile Image -->

<img src="{{ user.profile_image.url }}" class="w-32 h-32 rounded-full border-4 border-white object-cover mx-auto shadow-lg">


<!-- Name -->
<div class="text-center mt-4">
<h2 class="text-2xl font-bold">{{ user.first_name }} {{ user.last_name }}</h2>
<p class="text-gray-500">@{{ user.username }}</p>
</div>

<!-- User Info -->
<div class="grid md:grid-cols-2 gap-6 p-8">

<div class="bg-gray-100 p-4 rounded-lg">
<p class="text-gray-500 text-sm">First Name</p>
<p class="font-semibold">{{ user.first_name }}</p>
</div>

<div class="bg-gray-100 p-4 rounded-lg">
<p class="text-gray-500 text-sm">Last Name</p>
<p class="font-semibold">{{ user.last_name }}</p>
</div>

<div class="bg-gray-100 p-4 rounded-lg">
<p class="text-gray-500 text-sm">Username</p>
<p class="font-semibold">{{ user.username }}</p>
</div>

<div class="bg-gray-100 p-4 rounded-lg">
<p class="text-gray-500 text-sm">Email</p>
<p class="font-semibold">{{ user.email }}</p>
</div>

<div class="bg-gray-100 p-4 rounded-lg">
<p class="text-gray-500 text-sm">Phone</p>
<p class="font-semibold">{{ user.phone }}</p>
</div>

<div class="bg-gray-100 p-4 rounded-lg">
<p class="text-gray-500 text-sm">Role</p>
<p class="font-semibold capitalize">{{ user.role }}</p>
</div>

</div>

<!-- Edit Button -->
<div class="text-center pb-8">
<a href="#" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-green-500 transition">
Edit Profile
</a>
</div>

</div>

</section>

{% endblock %}